#header {
    padding: 0.5rem;
    text-align: center;
    /* box-shadow: 0 4px 2px -2px gray; */
    -moz-box-shadow:0 5px 5px rgba(182, 182, 182, 0.75);
    -webkit-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
    box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
}